*{
    box-sizing: border-box;
}


p{
    padding: 4%;
}

h1 {
    padding-bottom: 60px;
    padding-top: 20;
}

.row {
    
    background-color: darkcyan;
    margin: 30px;
    height: 1000px;
}


.container-fluid {
    padding: 0px;
    margin: 0%;
}

.container-fluid .navbar-brand {
    padding-left: 15px;
}

.navbar .navbar-toggler {
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar .nav-item {
    text-align: center;
    
}

.navbar ul li {
    background-color: darkred;
    border-top: 2px solid black;

}

.navbar-nav {
    border: px solid black;

}

.navbar {
    padding: 0%;
}